# Editors
.vscode/
.idea/

# Build Output
dist/
**/*.js.map
**/*.d.ts
**/*.js
coverage.json
coverage/
build/wrappers

# Temporary Files
node_modules/
yarn-error.log
.node-*

# Local Configuration
.env

# File System Extras
.DS_Store
